<div class="user-container">
  <h2 class="title">User List</h2>
  <div class="search-blk">
    <div class="btn-blk">
      <button mat-flat-button color="primary" (click)="onClickUserCreate()">
        <mat-icon>person_add</mat-icon>Add User
      </button>
    </div>
  </div>
  <div class="mat-elevation-z8 table-container">
    <table
      mat-table
      [dataSource]="dataSource || (users$ | async)"
      class="user-table"
    >
      <!-- Profile Column -->
      <ng-container matColumnDef="profile">
        <th mat-header-cell *matHeaderCellDef>Profile</th>
        <td mat-cell *matCellDef="let row">
          <img
            [src]="storageUrl + row.profile"
            crossorigin="anonymous"
            width="50"
            height="50"
            style="padding-top: 3px"
            alt=""
          />
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td
          class="user-title"
          mat-cell
          *matCellDef="let user"
          (click)="showUser(user)"
        >
          {{ user.name }}
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let user">{{ user.phone }}</td>
      </ng-container>

      <!-- DOB Column -->
      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef>Birth Date</th>
        <td mat-cell *matCellDef="let user">
          {{ user.dob | date : "shortDate" }}
        </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let user">{{ user.address }}</td>
      </ng-container>

      <!-- Created Date Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef>Created Date</th>
        <td mat-cell *matCellDef="let user">
          {{ user.created_at | date : "shortDate" }}
        </td>
      </ng-container>

      <!-- Updated Date Column -->
      <ng-container matColumnDef="updated_at">
        <th mat-header-cell *matHeaderCellDef>Updated Date</th>
        <td mat-cell *matCellDef="let user">
          {{ user.updated_at | date : "shortDate" }}
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let user">
          <button
            mat-icon-button
            (click)="changePassword(user)"
            color="primary"
          >
            <mat-icon>key</mat-icon>
          </button>
          <button mat-icon-button (click)="editUserData(user)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            *ngIf="loginUser.id !== user.id"
            (click)="deleteUserData(user)"
            color="warn"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="mat-header-row"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="mat-row"
      ></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 15]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
