<div class="user-container">
  <h2 class="user">Forgot Password ? </h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" class="user-form">

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Email Address">
      <mat-error *ngIf="myForm['email'].hasError('required')">Email address is required</mat-error>
      <mat-error *ngIf="myForm['email'].hasError('pattern')">Please enter a valid email</mat-error>
    </mat-form-field>

    <div class="button-group">
      <button mat-flat-button type="submit" [disabled]="forgotPasswordForm.invalid" color="primary"
        class="btn-submit">Reset Password</button>
      <button [routerLink]="['/']" mat-stroked-button type="button" (click)="clearData()" color="warn">Cancel</button>
    </div>
  </form>
</div>