 <div id="intro-example" class="p-5 text-center bg-image">
 <div class="mask">
   <div class="d-flex justify-content-center align-items-center h-100">
     <div class="text-white">
       <h1 class="mb-3">Learn MEAN-STACK 5 Here</h1>
       <h5 class="mb-4">
         Best & free guide of responsive web design
       </h5>
       <a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A"
         role="button" rel="nofollow" target="_blank">Start tutorial</a>
       <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/"
         target="_blank" role="button">More Info Here</a>
     </div>
   </div>
 </div>
</div>
