.return-card{
    width: 375px;
    margin-bottom: 16px; ;
}

.card-list{
    padding: 0 9.375vw;
}

.scroll-container{
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 6px;
    column-gap: 16px;
}