<section class="footer">
  <div class="container position-relative">
    <div class="footer-grid-template">
      <div class="grid-area-logo">
        <a routerlink="/" href="/">
          <img src="../../../../assets/icons/angular_icon.svg" alt="angular_icon">
        </a>
      </div>
      <div class="grid-area-message">
        <div>
          Increase forests by shopping at our online ethical market
        </div>
      </div>
      <div class="grid-area-contact">
        <div class="contact-title">Contact</div>
        <a href="mailto:contact@MEAN-STACK.com" class="mt-12">contact@MEAN-STACK.com</a>
        <p class="contact-hours">
          Bussiness Hours: 8:00 a.m - 5:00 p.m (MMT)
          <br>
          closed: Saturdays, Sundays and Myanmar National Holidays
        </p>
      </div>

      <div class="grid-area-about-links position-relative">
        <div>
          <a routerlink="/" href="/">TERMS OF USE</a>
        </div>

        <div>
          <a routerlink="/" href="/">PRIVACY POLICY</a>
        </div>

        <div>
          <a routerlink="/" href="/">COMPANY</a>
        </div>
      </div>

      <div class="grid-area-product-link position-relative">
        <div>
          <a href="#">ALL PRODUCT</a>
        </div>
        <div class="description">See the list of products</div>
      </div>

      <div class="grid-area-newsletter position-relative">
        <div class="title d-flex justify-content-center">
          Receive the newsTechnologies
        </div>
        <div class="description d-flex justify-content-center">
          Register your email in order to get the latest news from MEAN technologies
        </div>

        <div class="email-input d-flex justify-content-center">
          <form>
            <div class="input-group">
              <input type="email" class="form-control email" placeholder="Your e-mail address">
              <div class="input-group-append">
                <span class="input-group-text d-flex justify-content-center">SEND</span>
              </div>
            </div>
          </form>
        </div>
        
      </div>

      <div class="grid-area-all-right-reserved">
        MEAN-STACK, Inc., All rights reserved  ©︎2022
      </div>

    </div>
  </div>
</section>
