<div class="user-container">
  <h2 class="user">Password Reset </h2>
  <form [formGroup]="forgotPasswordUpdateForm" (ngSubmit)="forgotPasswordUpdate()" class="user-form">

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Password">
      <mat-error *ngIf="myForm['password'].hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="!myForm['password'].hasError('required') && myForm['password'].hasError('pattern')">Password
        must be more than 8characters long,must contain at least 1uppercase and 1numeric.</mat-error>
    </mat-form-field>

    <div class="button-group">
      <button mat-flat-button type="submit" [disabled]="forgotPasswordUpdateForm.invalid" color="primary"
        class="btn-submit">Update Password</button>
      <button mat-stroked-button type="button" (click)="clearData()" color="warn">Cancel</button>
    </div>
  </form>
</div>