<div class="user-container">
  <h2 class="user">Sign User</h2>
  <form [formGroup]="signUpForm" (ngSubmit)="signUpUser()" class="user-form">

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Name">
      <mat-error *ngIf="myForm['name'].hasError('required')">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Email Address">
      <mat-error *ngIf="myForm['email'].hasError('required')">Email address is required</mat-error>
      <mat-error *ngIf="myForm['email'].hasError('pattern')">Please enter a valid email</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Password">
      <mat-error *ngIf="myForm['password'].hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="!myForm['password'].hasError('required') && myForm['password'].hasError('pattern')">Password
        must be more than 8characters long,must contain at least 1uppercase and 1numeric.</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPwd">
      <mat-error *ngIf="myForm['confirmPwd'].hasError('required')">Confirm password is required</mat-error>
      <mat-error *ngIf="myForm['confirmPwd'].hasError('mustMatch')">Password must be match</mat-error>
    </mat-form-field>

    <div class="button-group">
      <button mat-flat-button type="submit" [disabled]="signUpForm.invalid" color="primary"
        class="btn-submit">Sign Up</button>
      <button mat-stroked-button type="button" (click)="clearData()" color="warn">Cancel</button>
    </div>
  </form>
</div>