<div id="intro-example" class=" text-center bg-image">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">LEARN MEAN STACK HERE</h1>
            <h5 class="mb-4">MORE INFO IN DETAILS</h5>
            <a href="https://www.youtube.com/watch?v=c9B4TPnak1A" 
            class="btn btn-outline-light btn-lg m-2"
            role="button"
            rel="nofollow"
            target="_blank"
            >Start tutorial</a>
    
            <a href="https://mdbootstrap.com/docs/angular/" 
            class="btn btn-outline-light btn-lg m-2"
            role="button"
            target="_blank"
            >More Info Here</a>
          </div>
        </div>
      </div>
</div>