.mat-dialog {
  width: 100%;
  max-height: initial;

  mat-list {
    width: 100%;

    mat-list-item {
      margin: 2% 0;

      span {
        width: 28%;
      }

      .dialog-data {
        float: right;
        clear: both;
        width: 68%;
      }
    }
  }
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-img {
  width: 100px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}