<div class="container">
  <h2>Change Password</h2>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

    <!-- Old Password -->
    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Old Password</mat-label>
      <input matInput type="password" formControlName="oldPassword" placeholder="Password">
      <mat-error *ngIf="myError('oldPassword', 'required')">Old Password is required</mat-error>
    </mat-form-field>

    <!-- New Password -->
    <mat-form-field appearance="outline" class="form-control">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword" placeholder="Password">
      <mat-error *ngIf="myError('newPassword', 'required')">New Password is required</mat-error>
      <mat-error *ngIf="myError('newPassword', 'pattern')">Password must be more than 8characters long,must contain at
        least 1uppercase and 1numeric</mat-error>
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" placeholder="Password">
      <mat-error *ngIf="myError('confirmPassword', 'required')">Confirm Password is required</mat-error>
      <mat-error *ngIf="myError('confirmPassword', 'mustMatch')">Password must be match</mat-error>
    </mat-form-field>

    <div class="submit-btn">
      <button mat-flat-button color="primary" type="submit" [disabled]="!passwordForm.valid">Confirm</button>
      <button mat-stroked-button type="reset" (click)="clearForm()" color="warn">Clear</button>
    </div>
  </form>
</div>