<div class="user-container">
  <h2 class="user">Create User</h2>
  <form [formGroup]="userForm" (ngSubmit)="confirmUser()" class="user-form">

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Name">
      <mat-error *ngIf="myForm['name'].hasError('required')">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Email Address">
      <mat-error *ngIf="myForm['email'].hasError('required')">Email address is required</mat-error>
      <mat-error *ngIf="myForm['email'].hasError('pattern')">Please enter a valid email</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Password">
      <mat-error *ngIf="myForm['password'].hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="!myForm['password'].hasError('required') && myForm['password'].hasError('pattern')">Password
        must be more than 8characters long,must contain at least 1uppercase and 1numeric.</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPwd">
      <mat-error *ngIf="myForm['confirmPwd'].hasError('required')">Confirm password is required</mat-error>
      <mat-error *ngIf="myForm['confirmPwd'].hasError('mustMatch')">Password must be match</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Role</mat-label>
      <mat-select matNativeControl name="role" formControlName="role" required>
        <mat-option *ngFor="let selectOption of typeOption" [value]="selectOption.enum"> {{selectOption.enum}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput type="text" (keypress)="keyPress($event)" formControlName="phone" placeholder="Phone">
      <mat-error *ngIf="myForm['phone'].hasError('required')">Phone is required</mat-error>
      <mat-error *ngIf="!myForm['phone'].hasError('required') && myForm['phone'].hasError('pattern')">
        Phone number must be start with 09 and 11 digits</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Date Of Birth</mat-label>
      <input (dateInput)="OnDateChange($event.value)" matInput [matDatepicker]="picker" [max]="today"
        formControlName="dob">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Address</mat-label>
      <textarea matInput formControlName="address"></textarea>
    </mat-form-field>

    <label>Profile</label>
    <input #file type="file" (change)="imageUpload($event)" formControlName="profile" accept="image/*"
      maxFileSize=2000000>
    <div *ngIf="myForm['profile'].invalid  && (myForm['profile'].dirty || myForm['profile'].touched || submitted)">
      <mat-error *ngIf="myForm['profile'].hasError('required')" class="profileerror">Profile can't be blank.
      </mat-error>
    </div>
    <div *ngIf="profileImage">
      <img [src]="profileImage" width="100" height="100" class="profileimg">
    </div>

    <div class="button-group">
      <button mat-flat-button type="submit" [disabled]="userForm.invalid" color="primary"
        class="btn-submit">Create</button>
      <button mat-stroked-button type="button" (click)="clearData()" color="warn">Cancel</button>
    </div>
  </form>
</div>