.footer {
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: 12px;
  background: no-repeat padding-box rgba(13, 16, 15, .95);
  backdrop-filter: blur(20px);
  margin-top: 40px;
}

.footer-grid-template {
  display: grid;
  height: 811px;
  grid-template-columns: 170px 222px 1fr 250px;
  grid-template-rows: 124px 60px 102px 168px 298px 59px;
}

.grid-area-logo {
  grid-area: logo;
  grid-column: 1/2;
  grid-row: 2/3;
  border-right: 2px solid rgba(255, 255, 255, .5);
}

.grid-area-message {
  grid-area: tells-message;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  padding-left: 30px;
}

.grid-area-contact {
  grid-area: contact;
  grid-column: 4/5;
  grid-row: 2/3;
  justify-self: flex-end;
  text-align: right;
  align-self: center;

  a {
    margin-bottom: 24px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: box-shadow .3s ease-in;
  }
}

.contact-title {
  opacity: .6;
}

.contact-hours {
  opacity: .6;
  margin: 12px 0 0;
}

.grid-area-about-links {
  grid-area: about-link;
  grid-column: 2/4;
  grid-row: 4/5;
  justify-items: start;
  padding-left: 30px;
  font-weight: 500;

  a {
    margin-bottom: 24px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: box-shadow .3s ease-in;
  }
}

.grid-area-product-link {
  grid-area: product-link;
  grid-column: 3/4;
  grid-row: 4/5;
  justify-self: center;

  a {
    margin-bottom: 24px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: box-shadow .3s ease-in;
  }

}

.description {
  color: #8d8d8d;
  margin-top: 12px;
}

.grid-area-newsletter {
  grid-area: newsletter;
  grid-column: 1/5;
  grid-row: 5/7;
  width: 507px;
  justify-self: center;
  padding-top: 60px;
}

.grid-area-newsletter::before {
  content: '';
  position: absolute;
  top: 0;
  left: -37vw;
  width: 110vw;
  height: 1px;
  background: #242424;
  z-index: 1;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 13px;
}

.email-input {
  margin-top: 40px;
}

.input-group {
  width: inherit;
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;
}

.email {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  width: 234.5px;
  height: 47px;
  font-size: 12px;
  color: #131915;
  letter-spacing: 0;
  padding-left: 27px;
  border: none;
}

.input-group-append {
  margin-left: -1px;
  display: flex;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  width: 80.5px;
  height: 47px;
  background: no-repeat padding-box #5d7c69;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.input-group-text {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  width: 135.5px px;
  height: 47px;
  background: no-repeat padding-box #5d7c69;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.grid-area-all-right-reserved {
  grid-area: all-right-reserved;
  grid-column: 1/5;
  grid-row: 6/7;
  color: #aeaeae;
  justify-self: center;
}