<ng-container class="">
    <div  class="header w-100">
        <section class="header--first-row d-flex justify-content-start align-items-center w-100">
            <a href="/" class="mr-2">
                <img src="\assets\icons\box-filled-with-a-stack-of-files-svgrepo-com.svg" alt="Mean-Stack-Logo" class="svg-icons">
            </a>
            <a href="/about" class="fs-12 font-weight-bold m-3 p-4">
                About
            </a>
        </section>
        
        <Banner></Banner>
    </div>
</ng-container>