<div class="container">
    <!-- Content here -->

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../../../../assets/icons/MEAN_STACK_banner_image.png" alt="Bootstrap" width="30" height="24">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item fs-18 me-2">
                <a class="nav-link" href="#">Link</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success me-2" type="submit">Search</button>
              <button class="btn btn-light-success me-2">Login</button>
              <div class="header__seperator d-none d-sm-block me-2"></div>
              <button class="btn btn-light-success">SignUp</button>

            </form>
          </div>
        </div>
      </nav>

    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">
               
            </a>
        </div>

        <div class="d-flex align-items-center justify-content-end">
            <div class="header_nav-icon header_nav_search-content-wrapper">
                <form class="header_nav-search-content">
                    <input type="text">
                    <a class="header_nav-search-content__cancel d-none d-lg-flex justify-content-center align-items-center cursor--pointer" src="../../../../assets/icons/icons8-search-60.svg"></a>
                </form>
            </div>
        </div>

        <!-- <button class="header_nav-item mat-button mat-button-base">Login</button>
        <div class="header__seperator d-none d-sm-block"></div> -->
    </nav>
</div>







