<div class="container">

  <h2 class="title">Post List</h2>

  <!-- Operation Field -->
  <div class="operation">

    <!-- Operation Button -->
    <div class="opr-btn">
      <button mat-flat-button color="primary" class="btn btn-sm btn-primary ml-1" (click)="createPost()">
        <mat-icon>post_add</mat-icon>Add
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table mat-Sort matTableExporter [dataSource]="dataSource">
      <!-- Post Title -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Post Title </th>
        <td class="post-title" mat-cell *matCellDef="let row" (click)="showPost(row)"> {{ row.title }}</td>
      </ng-container>

      <!-- Description -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Post Description </th>
        <td mat-cell *matCellDef="let row"> {{row.description}} </td>
      </ng-container>

      <!-- Photo -->
      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef> Photo </th>
        <td mat-cell *matCellDef="let row"> 
          <img class="post-list-img" [src]="storageUrl+row.image" crossorigin="anonymous" width="50" height="50" style="padding-top:3px" alt=""> 
        </td>
      </ng-container>

      <!-- Created User Id -->
      <ng-container matColumnDef="created_user_id">
        <th mat-header-cell *matHeaderCellDef> Posted User </th>
        <td mat-cell *matCellDef="let row"> {{row.author}} </td>
      </ng-container>

      <!-- Created Date -->
      <ng-container matColumnDef="created_at" class="created_at">
        <th mat-header-cell *matHeaderCellDef> Posted Date </th>
        <td mat-cell *matCellDef="let row"> {{row.created_at | date: 'shortDate'}} </td>
      </ng-container>

      <!-- Action -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="editPost(row)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deletePost(row)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
  </div>
</div>