.container {
  width: 82%;
  margin: 2% auto;

  .filter {
    display: flex;
    align-items: baseline;
    justify-content:start;

    .opr-btn {
      // margin-top: 0.5%;
      margin-left: 1.4%;

      button {
        padding-top: 0.7%;
        padding-bottom: 0.7%;

        mat-icon {
          margin-right: 10%;
        }
      }
    }
  }

  .mat-elevation-z8 {
    width: 100%;
    margin: 1% auto;
    padding: 2%;
    overflow-x: auto;

    table {
      width: 100%;
    }
  }
}