.container {
  width: 82%;
  margin: 2% auto;

  .operation {
    display: flex;
    justify-content:end;

    .opr-btn {
      margin-left: 1.4%;

      button {
        padding-top: 0.7%;
        padding-bottom: 0.7%;

        mat-icon {
          margin-right: 10%;
        }
      }
    }
  }

  .mat-elevation-z8 {
    width: 100%;
    margin: 1% auto;
    padding: 2%;
    overflow-x: auto;

    table {
      width: 100%;
    }
  }
}